@import "./values.scss";

.dashboard {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 54px auto;
    row-gap: 16px;
    background-color: $page-color;

    .content_wrapper {
        padding: 16px 24px;
        background: $page-color;

        .content {
            width: 100%;
        }
    }
}